@charset 'UTF-8';
@font-face {
  font-family: 'riviera_nightslight';
  src: url('/assets/rivieranights-light-webfont.woff2') format('woff2'),
       url('/assets/rivieranights-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//Typography
$font-family--yujin: 'riviera_nightslight';
$font-size--yj-btn: 2.25rem;


html, body, content, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, menu, header, footer {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
  
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body{
  height: 100%;
  background-color: #0d0f05;
}
  
.main{
  font-family: 'riviera_nightslight', Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.information-container{
  font-size: 2.75rem;
  text-align: center;
  line-height: calc(2.75rem * 1.25);
  width: 100%;
  margin: 5rem auto 3rem;
  color: blue;
  
}

.gif-container{
  display: flex;
  justify-content: center;
  width: 18.5%;
  margin: 0 auto;
}

.btn-container{
  display: flex;
  justify-content: center;
    button{
      border: 1.5px solid blue;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 225% 225%;
      animation: gradient 5s ease infinite;
      border-radius: 2vw;
      width: 22%;
      height: 4vw;
      margin-top: 3rem;

      @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
      }
      & :hover{
        color: black;
        border-radius: 2vw;
        animation: pulse 5ms ease infinite;
        @keyframes pulse{
          0%, 100% {
            background-color: blue;
          }
          50% {
            background-color: lawngreen;
          }
        } 
      }
      a{
        font-family: $font-family--yujin;
        font-size: $font-size--yj-btn;
        color: white;
        display: block;
        padding: 0.85rem 0;
        text-decoration: none;
      }
    }
}
